#game-container {
  display: flex;
  align-items: center;
  height: calc(100% - 75px);
  overflow: auto;
}

@media screen and (max-width: 600px) {
  #game-container {
    height: 100%;
    overflow: initial;
  }
}

:host ::ng-deep #game-container canvas {
  margin: auto;
}

footer {
  margin-top: auto;
  background: #2880B8;
  width: 100%;
  padding: 20px 10px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}

footer a:visited,
footer a:active,
footer a {
  color: white;
  text-decoration: underline;
  line-height: 21px;
}

footer a.share-social {
  margin-left: 10px;
}
