/* You can add global styles to this file, and also import other style files */
html, body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@font-face {
  font-family: 'KenvectorFutureRegular';
  src: url('assets/bouncing-ball/images/UIpack/Font/kenvector_future.ttf');
}

@font-face {
  font-family: 'KenvectorFutureThin';
  src: url('assets/bouncing-ball/images/UIpack/Font/kenvector_future_thin.ttf');
}
